{{!-- {{yield}} --}}

<button {{action "handleClick" }} class="button1" type="button">Employees</button>

<div class="bord">
    {{#if this.isExpand}}
    {{#each @employees as |employee|}}
    <div class=" card1">
        <h1>{{employee.employeeName}}</h1>


        <div class="details">
            <span>Designation</span>
            <p style="color: azure; display:inline;">{{employee.employeeDesignation}}</p>
            <br>
            <span>Salary</span>
            <p style="color: azure; display:inline;">{{employee.employeeSalary}}</p>
            <br>
            <span>Address</span>
            <p style="color: azure; display:inline;">{{employee.employeeAddress}}</p>

        </div>

    <button {{action "deleteEmployee" employee}} class="button" type="button">Delete</button>
    
    <LinkTo class="nav-link" @route="updateEmployee"  class="update" type="button">Update</LinkTo>
    
    </div>
    {{/each}}
    {{/if}}
</div>