{{!-- {{yield}} --}}

<button {{action "handleClick" }} class="button" type="button">Employees</button>

<div class="bord">
    {{#if this.isExpand}}
    {{#each @employees as |employee|}}
    <div class=" card1">
        <h1>{{employee.employeeName}}</h1>
        {{!-- <LinkTo @route="employees/details" @model="{{employee.employeeId}}">Details</LinkTo> --}}


        <div class="details">
            <span>Age</span>
            <h3 style="color: azure; display:inline;">{{employee.employeeDesignation}}</h3>
            <br>
            <span>Salary</span>
            <h3 style="color: azure; display:inline;">{{employee.employeeSalary}}</h3>
            <br>
            <span>Address</span>
            <h3 style="color: azure; display:inline;">{{employee.employeeAddress}}</h3>

        </div>


    </div>
    {{/each}}
    {{/if}}
</div>